@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}

body{
  display:flex;
  background:linear-gradient(135deg,#000e1a,#003459);
  color:white;
}

/* SIDEBAR */
.sidebar{
  width:260px;
  background:linear-gradient(180deg,#012237,#02466e);
  height:100vh;
  padding:20px;
  position:fixed;
  box-shadow:6px 0 25px rgba(0,0,0,0.4);
}

.brand h2{color:#45d2ff;}
.brand small{color:#a6e9ff;}

.menu{
  margin-top:20px;
  list-style:none;
}

.menu li{
  padding:12px;
  border-radius:10px;
  margin:5px 0;
  cursor:pointer;
  display:flex;
  gap:10px;
  transition:0.3s;
}

.menu li:hover{
  background:rgba(255,255,255,0.1);
}

.menu li.active{
  background:#45d2ff;
  color:#002131;
}

/* MAIN */
.main{
  margin-left:260px;
  padding:20px;
  width:100%;
}

.header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.search{
  background:rgba(255,255,255,0.1);
  padding:8px 12px;
  border-radius:10px;
  display:flex;
  align-items:center;
  gap:10px;
}

.search input{
  background:transparent;
  border:none;
  outline:none;
  color:white;
}

.user img{
  width:48px;
  height:48px;
  border-radius:50%;
}

/* SECTIONS */
.section{margin-top:20px;}
.hidden{display:none;}

/* CARDS */
.cards{
  display:flex;
  gap:20px;
}
.card{
  flex:1;
  background:#023d60;
  padding:20px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 4px 18px rgba(0,0,0,0.3);
}

.card-form{
  background:rgba(255,255,255,0.1);
  padding:20px;
  width:380px;
  border-radius:12px;
}

.card-form input{
  width:100%;
  padding:10px;
  margin-top:5px;
  border:none;
  border-radius:6px;
}

.btn{
  margin-top:12px;
  padding:10px;
  background:#45d2ff;
  border:none;
  border-radius:10px;
  color:#00202e;
  cursor:pointer;
}

.btn.danger{
  background:#ff3b3b;
}
